<ion-header>

  <ion-navbar>
    <ion-title>duplicates</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page" padding>

  <div *ngFor="let country of countries; let i = index">
    <img style="height: 15px; width: 30px;" src="{{country.CountryFlag}}">
    <h4 style="display: inline-block">{{country.CountryName}}</h4>

    <ion-grid>
      <ion-row>
        <ng-container *ngFor="let player of country.CountryStickers; let j = index">
          <ion-col *ngIf="player.duplicate1" col-2>
            <ion-card>
              <img
                src="{{player.CountryFlag}}"/>
              <div class="card-title">{{player.StickerNumber}}</div>
            </ion-card>
          </ion-col>
        </ng-container>
      </ion-row>
    </ion-grid>

    <hr>
  </div>

  <button (click)="goToChooseDetailsPage()" ion-button icon-only>
    <ion-icon name="md-add"></ion-icon>
  </button>

</ion-content>
