<ion-header>
  <ion-navbar>
    <ion-title>
      Missing Stickers
      <div style="float: right">
        {{missingStickers}}/{{allStickers}}
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page" padding>

  <div *ngFor="let country of countries; let i = index">
    <img style="height: 15px; width: 30px;" src="{{country.CountryFlag}}">
    <h4 style="display: inline-block">{{country.CountryName}}</h4>
    <h6  style="display: inline-block; font-weight: 300">({{missing[i]}}/{{all[i]}})</h6>
    <ion-icon style="float: right; margin-top: 21px" (click)="detailsPage(i)"
              ios="ios-create" md="md-create">
    </ion-icon>

    <ion-grid>
      <ion-row>
        <ng-container *ngFor="let player of country.CountryStickers; let j = index">
        <ion-col *ngIf="player.visible" (click)="removeSticker(i,j)" col-2>
          <ion-card>
            <img
              src="{{player.CountryFlag}}"/>
            <div class="card-title">{{player.StickerNumber}}</div>
          </ion-card>
        </ion-col>
        </ng-container>
      </ion-row>
    </ion-grid>
    <hr>
  </div>


</ion-content>

